.header {
	height: 100px;
	width: 100%;
	margin: 0 auto;
}
.header div {
	font-family: Georgia;
	font-size: 70px;
	color: white;
	text-align: center;
	line-height: 100px;
	position:absolute;
    left:0;
    right:0;
    height:100px;
    background-color: #404040;
}

div {
	text-align: center;
}
body {
	margin: 0px 200px 0 200px;
	background-color: #404040;
}

p {
	font-family: Georgia;
	font-size: 22px;
	color: white;
	margin: 0 auto;
}

input[type="text"][disabled] {
	background-color: #8c8c8c;
	color: black;
}
.enterSize {
	margin-top: 10px;
	margin-bottom: 10px;
}
#size {
	display: inline;
	width: 50px;
	text-align: center;
}

#specification {
	text-align: center;
	font-family: Georgia;
	color: white;
	font-size: 15px;
}
#board {
	/*margin: 0 auto;*/
	align-items: center;
	/*display: block;*/
	/*position: absolute;*/
}

.smallSquare {
	width: 25px;
	height: 25px;
}
.bigSquare {
	width: 50px;
	height: 50px;
}

.line {
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.square {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	font-family: Arial;
	font-size: 22px;
}

.verticalOutline {
	border-right: 3px solid black;
}

.horizontalOutline {
	border-bottom: 3px solid black;
}

.num {
	height: 100%;
	width: 100%;
	margin: none;
	padding-top: 0px;
	padding-bottom: 0px;
	border: 1px;
	text-align: center;
	font-family: Arial;
	font-size: 22px;
}


button {
	font-size: 15px;
	font-family: Arial;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline;
	text-align: center;
	align-items: center;
}

#finAndShow {
	clear: both;
}


